// Fuentes
$firstFont: 'Epilogue', sans-serif;

// Tamaño de Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopXl: 1568px;

// Colores
$primario: #f46669;
$secundario: #c7c57d;
$negro: #000;
$blanco: #FFFFFF;
$gris: 	#585757;